        <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.ceps.technology"><kbd style="background-color:darkslateblue;">cepS<sub><i>Cloud</i></sub></kbd></a>




    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (sim_core === undefined) { %> 
             <li><a href="#" id="action_create_simulation" >Create Simulation</a></li>
            <% } else { %>
             <li><a href="#" id="action_add_ctrl_panel" onclick="show_ctrl_panel_create_dialog();" >Create Control Panel</a></li>
            <% } %>
          </ul>
        </li>
        <li class="link">
         <a href="#">
           <% if (streaming_endpoint != undefined) { %>           
               <span class="glyphicon glyphicon-transfer" style="color:green;font-size: 1.2em;" data-toggle="tooltip" data-placement="bottom" title="Streaming Enabled"></span>
            <% } else { %>
                <span class="glyphicon glyphicon-transfer" style="color:#EE1111;font-size: 1.2em;" data-toggle="tooltip" data-placement="bottom" title="Streaming Disabled. Install/Start the CAN Streamer Tool."></span>
            <% } %>
            </a>
        </li>
      </ul>

      



            </div>
            <!-- /.navbar-header -->

       <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><div style="width:100px">&nbsp;</div></a></li>
      </ul>

<!-- Deleted Top Right Nav -->            
            <!-- /.navbar-top-links -->
</nav>

