<% include header %>

<body>
    <div id="wrapper">
        <%- include('navbar'); %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= page_title %></h1>
                </div>
            <!-- /.row -->
        </div>
        <div class="row">
                <div class="col-lg-12">
                   <%- include("../"+sim_nodes_root+"/"+sim_core.src.path+"/" + 'overview') %>
                </div>
            <!-- /.row -->
        </div>



        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    

</body>

</html>
