<% include header %>

<body>
    <div id="wrapper">
        <%- include('navbar'); %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= sim_core.name %>- <strong>Overview</strong></h1>
                </div>
            <!-- /.row -->
        </div>
        <div class="row">
                <div class="col-lg-12">
                   <%- include("../"+sim_nodes_root+"/"+sim_core.src.path+"/" + 'overview') %>
                </div>
            <!-- /.row -->
        </div>

          <div class="row">
                <div class="col-lg-12" id="tasks_list">
                    <!--div class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Streaming CAN messages from/to your computer requires the </strong>
                      <button type="button" class="btn btn-default navbar-btn" onclick="$('#action_download_canmapper_dialog').modal();">
                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>&nbsp;CAN Mapping Tool
                      </button>
                    .
                    </div-->
                </div>
            <!-- /.row -->
        </div>




        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <% include ctrl_panel_logic %>
<script>
    $(document).ready(function(){
        setup_ctrl_panel_logic();
    });
</script>
</body>

</html>
