*~
*.[oad]
eclipse/Debug/
eclipse/Release/
bugs/
x86/
*.plantuml
*.obj
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.sdf
*.opensdf
*.so
test/cppgen/x86
playground/
*.gz
.launch*
log.txt
Makefile.orig
*.svg
*.dot
*.gv
out.cpp
out_frames.cpp
out.hpp
out_frames.hpp
*_out.*
.vscode/
build-*/
*.pro.user.*
*.pro.user
tools/gui/icons
cloud/server/gen_overview*.sh
cloud/server/node_modules
cloud/server/package-lock.json
cloud/server/push
cloud/trash
cloud/sim_nodes
nohup.out
studies/mms_devops/node_modules/
*.jar
*.war
bin/
