<!DOCTYPE html>
<html lang=en>
<!-- 
    
    Cool effects

    https://blog.trackduck.com/2015/06/10/15-impressive-pop-animation-effects-codepen/
    
    
    -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="(c) ceps technologies, all rights reserved">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">   
    <link href="rollaut/rollaut_basic.css" rel="stylesheet">
     
<style>
    @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
        /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange600 { color: #FB8C00; }

  </style>
    <title>RollAut</title>
</head>

<body style="padding-top: 70px;">
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" style="color:white;" href="http://www.rollaut.org">
              <sup>Roll<sub><span class="text-primary" style="font-size:20px;">A</span></sub>ut</sup>
            </a>
            <h3 style="color:white;vertical-align:center;text-align:center;"></h3>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            </ul>
            <span class="badge badge-danger" id="nav_info_connection">
             <div style="float:left;margin:2px;" class="rollaut_connection_loader"></div>
             <span style="vertical-align: sub;">Not Connected</span>
            </span>
        </div>
   </nav>
<main role="main" class="container">
</main>

<div style="width:100%;">
<h2 style="text-align: center;" >Team Planner</h2>
<div id="team_lanes" style="margin:auto;border: 3px solid black;width:70%;overflow:hidden;"></div>
</div>



<div id="product_projections" style="padding-top:50px;margin:auto;xborder: 3px solid green;width:70%;overflow:hidden;">
    
</div>



</div>

<div class="modal" 
       id="dlg_rollout_details" 
       tabindex="-1" 
       role="dialog" 
       aria-labelledby="dlg_rollout_details" 
       style="z-index: 10000;">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="dlg_select_a_signal_label">Rollout Details</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="dlg_rollout_details_body" class="modal-body">
                
            </div>
            <div class="modal-footer" id="dlg_rollout_details_footer">
            </div>
        </div>
    </div>
</div>


</body>

<script src="jquery/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="rollaut/tiles.js"></script>
<script src="rollaut/search_utils.js"></script>
<script src="rollaut/utils.js"></script>
<script src="rollaut/overview_dialog.js"></script>
<script src="rollaut/timeline_widget.js"></script>
<script src="rollaut/staccato.js"></script>

<script>

` 





  +----------------------------+   +------------------------+  +------------------------+
  | APP #1                     |   | APP #2                 |  | APP #3                 |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  |   +--------------+         |   |                        |  |                        |
  |   | SUB APP #1   |  +----+ |   |     +-----+            |  |                        |
  |   | O            |  |    | |   |     |     |            |  |                        |
  |   |-|- 1.5 SAP   |  |    | |   |     |     |            |  |                        |
  |   |/\  0.5 JAVA  |  |    | |   |     |     |            |  |                        |
  |   |              |  |    | |   |     |     |            |  |                        |
  |   |              |  |    | |   |     |     |            |  |                        |
  |   |              |  |    | |   |     |     |            |  |                        |
  |   |              |  |    | |   |     |     |            |  |                        |
  |   |              |  |    | |   |     |     |            |  |                        |
  |   +--------------+  +----+ |   |     +-----+            |  |                        |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  |                            |   |                        |  |                        |
  +----------------------------+   +------------------------+  +------------------------+







`;

let example_1 = [
  {
   name:"APP #1",
   children: [
     {
       name: "SUB APP #1",
       allocations : [
         {
           name    : "SAP", 
           units   : 1,
           weight  : 1.5,
         },
         {
           name   : "JAVA", 
           units  : 1,
           weight : 0.5,
         }
       ]
     },
     {name: "SUB APP #1"}   
   ] 
  },
  {
    name:"APP #2",
    children: [
     {name: "SUB APP #1",
      children: [
        {
          name: "SUB SUB APP #1",
          allocations : [
            {
              name    : "DevOps", 
              units   : 1,
              weight  : 1.5,
            },
            {
              name   : "SAP HANA", 
              units  : 1,
              weight : 0.5,
            }
          ]
          

        }
      ]
     }
   ] 
  },
  {
    name:"APP #3",
    children: [
   ] 
  }
];




function TreeWidget(container,data){
  let THIS = null;
  let r = THIS = {
   outer_div: null,
   inner_div: null,
   getChildDivAttributes : function(childData,depth) {
     return `
      border  : 2px solid black;
      margin  : 5px;
      padding : 5px;
     `;
   },
   buildChildDom : function(childData,depth){
     let outer = document.createElement("div");
     outer.setAttribute("style",THIS.getChildDivAttributes(childData,depth));
     let label = document.createElement("div");
     let label_content = document.createTextNode(childData.name);
     label.appendChild(label_content);
     outer.appendChild(label);
     let body = document.createElement("div");
     if (childData.allocations != null){
       for(let i = 0; i < childData.allocations.length;++i){
         let entry = document.createElement("div");
         let alloc = childData.allocations[i];
         entry.innerHTML = `
         <i class="material-icons" style="vertical-align: text-top;">pool</i>
         x ${Math.round(100*(alloc.units * alloc.weight))/100 } <span class="badge badge-info">${alloc.name}</span>
         `;
         body.appendChild(entry);
       }
     }
     if (childData.children != null)
      for(let i = 0; i < childData.children.length; ++i){
        body.appendChild(
          THIS.buildChildDom(childData.children[i],depth+1)
        );
      }
     outer.appendChild(body);
     return outer;
   },
   buildDom : function () {
     let depth = 0;
     let children_doms = [];
     for(let i = 0; i < data.length; ++i){
      children_doms.push(THIS.buildChildDom(data[i],depth));
     }
     for(let i = 0; i < children_doms.length;++i){
       let child = children_doms[i];
       container.appendChild(child);
     }
   }
  };
  r.buildDom();
  return r;
}

function MatrixWidget(container,data){
 let THIS = null;
 let r = THIS = {
  outer_div             : null,
  inner_div             : null,
  in_selection_mode     : false,
  start_cell            : null,
  current_cell          : null,
  dom_cache             : null,
  selection_changed     : null,
  header_height_default : 30,

  cellBaseStyleAttribute : function (row,col){
    if (data.type == "distribution"){
      return `
         width:${data.cell_width}px;
         height:${data.col_height*data.cell_relative_height(row,col)}px;
         border : 1px black solid;
         overflow:hidden;       
        `;
    }

    return `
         width:${data.cell_width}px;
         height:${data.cell_height}px;
         overflow:hidden;       
        `;
  },

  drawSelection      : function (from_,to_,reset) {    
    let from = [from_[0],from_[1]];
    let to = [to_[0],to_[1]];

    if (from[0] > to[0]){
      let t = [0,0];
      t[0] = from[0];t[1] = from[1];
      from[0] = to[0];from[1] = to[1]; 
      to[0] = t[0];to[1] = t[1]; 
    }
    if(from[1] > to[1]){
      let t = from[1];
      from[1] = to[1];
      to[1] = t;
    }
    //console.log("drawSelection",from,to);

    if (from[0] == to[0] && from[1] == to[1]){
      let sattr = THIS.cellBaseStyleAttribute();
      if (!reset) sattr += `border-width:1px;border-style:solid;`;
      THIS.dom_cache[from[0]][from[1]].setAttribute("style",sattr);      
    } else if (from[0] == to[0] && from[1] != to[1]){
      let sattr0 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr0 += `border-bottom:1px solid black;border-top:1px solid black;border-left:1px solid black;`;
      let sattr1 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr1 += `border-bottom:1px solid black;border-top:1px solid black;border-right:1px solid black;`;
      THIS.dom_cache[from[0]][from[1]].setAttribute("style",sattr0);
      THIS.dom_cache[to[0]][to[1]].setAttribute("style",sattr1);

    } else if (from[1] == to[1] && from[0] != to[0])  {
      let sattr0 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr0 += `border-right:1px solid black;border-top:1px solid black;border-left:1px solid black;`;
      let sattr1 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr1 += `border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;`;
      THIS.dom_cache[from[0]][from[1]].setAttribute("style",sattr0);
      THIS.dom_cache[to[0]][to[1]].setAttribute("style",sattr1);

    } else {
      let sattr0 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr0 += `border-top:1px solid black;border-left:1px solid black;`;
      let sattr1 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr1 += `border-top:1px solid black;border-right:1px solid black;`;
      let sattr2 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr2 += `border-bottom:1px solid black;border-left:1px solid black;`;
      let sattr3 = THIS.cellBaseStyleAttribute();
      if (!reset) sattr3 += `border-bottom:1px solid black;border-right:1px solid black;`;

      THIS.dom_cache[from[0]][from[1]].setAttribute("style",sattr0);      
      THIS.dom_cache[from[0]][to[1]].setAttribute("style",sattr1);      
      THIS.dom_cache[to[0]][from[1]].setAttribute("style",sattr2);      
      THIS.dom_cache[to[0]][to[1]].setAttribute("style",sattr3);      
    }
   
    /*if (from[0] == to[0] && from[1] == to[1]){
      THIS.dom_cache[from[0]][from[1]].setAttribute(
        "style",THIS.cellBaseStyleAttribute()+`border-width:1px;border-style:solid;`);      
    }
    
    for(let i = from[0]+1; i < to[0] && i < THIS.dom_cache.length;++i){
      for(let j = from[1]+1; j < to[1] && THIS.dom_cache[i].length;++j){
        THIS.dom_cache[i][j].setAttribute("style",THIS.cellBaseStyleAttribute()+`background-color:black;`);
      }
    }*/
  },
  mouseenter: function(ev,row,col){
    if(!THIS.in_selection_mode) return;
    THIS.drawSelection(THIS.start_cell,THIS.current_cell,true);
    THIS.current_cell = [row,col];
    THIS.drawSelection(THIS.start_cell,THIS.current_cell,false);
    if (THIS.selection_changed != null) THIS.selection_changed(THIS.start_cell,THIS.current_cell,data);  
  },
  mouseleave: function(ev,row,col){

  },
  mousedown : function(ev,row,col){
    if(!THIS.in_selection_mode){
      if (THIS.start_cell != null && THIS.current_cell != null)
       THIS.drawSelection(THIS.start_cell,THIS.current_cell,true);
      THIS.in_selection_mode = true;
      THIS.start_cell = THIS.current_cell = [row,col];
      THIS.drawSelection(THIS.start_cell,THIS.current_cell,false);
      if (THIS.selection_changed != null) THIS.selection_changed(THIS.start_cell,THIS.current_cell,data);
    }
  },
  mouseup   : function(ev,row,col){
    if(THIS.in_selection_mode){
      THIS.in_selection_mode = false;
    }
  },
  buildDom  : function (){
    //container.appendChild(document.createTextNode("bnmnbmnb"));
    let total_tbl_height = 0;
    let draw_header = data.axis != null && data.axis.horz != null && data.data != null && data.data.length > 0 && data.data[0].length > 0;
    let header_height = 0.0;
    if (draw_header)
    {
      header_height = data.header_height;
      if (header_height == null) header_height = data.cell_height;
      if (header_height == null) header_height = THIS.header_height_default; 
    }
    total_tbl_height += header_height;
    if (data.col_height != null){
      total_tbl_height += data.col_height; 
    }

    let max_cols = 0;
    if (data.data != null && data.data.length > 0){
      for(let i = 0; i < data.data.length;++i){
        let v = data.data[i];
        if (v.length > max_cols) max_cols = v.length;
      }
    }

    THIS.outer_div = document.createElement("div");
    THIS.inner_div = document.createElement("div");
    THIS.outer_div.appendChild(THIS.inner_div);
    THIS.outer_div.setAttribute("xstyle",
                                `xposition:relative;overflow:hidden;height:200px;width:600px;`);
    THIS.inner_div.setAttribute("style",`xposition:absolute;width:200000px;`);
    let tbl = document.createElement("table");
    tbl.setAttribute("style",`
     table-layout:fixed;
     white-space: nowrap;
     width:${max_cols * data.cell_width}px;
     height: ${total_tbl_height}px;
    `);

    if (data.axis != null){
      let horiz = data.axis.horz;
      if (horiz != null){
        let f = horiz.labels;
        if (f == null)
         data.axis.horz.labels = (cont,cell_idx) => {
           cont.setAttribute("style",`text-align:center;`);
           cont.appendChild(document.createTextNode(`${cell_idx}`));
         };
      }
    }

    if (draw_header)
    {

      let header  = document.createElement("tr");
      let first_row = data.data[0];
      let n = first_row.length;
      for(let i = 0; i < n; ++i){
        let td = document.createElement("td");
        td.setAttribute("style",`
         width:${data.cell_width}px;
         height:${data.cell_height}px;
         overflow:hidden;
         white-space: nowrap; 
        `);
        let cont = document.createElement("div");
        data.axis.horz.labels(cont,i);
        td.appendChild(cont);
        header.appendChild(td);
      }
      tbl.appendChild(header); 
    }
    THIS.dom_cache = [];
    for(let i = 0; i < data.data.length;++i) {
      let row = document.createElement("tr");
      let v = data.data[i];
      THIS.dom_cache.push([]);
      
      for(let j = 0; j < v.length;++j){
        let cell = document.createElement("td");
        cell.setAttribute("style",THIS.cellBaseStyleAttribute(i,j));
        THIS.dom_cache[THIS.dom_cache.length-1].push(cell);

        cell.addEventListener("mouseenter",
          function (ev){
            THIS.mouseenter(ev,i,j);
          }        
        );     

        cell.addEventListener("mouseleave",
          function (ev){
            THIS.mouseleave(ev,i,j);
          }        
        );     

        cell.addEventListener("mousedown",
          function (ev){
            THIS.mousedown(ev,i,j);
          }        
        );     

        cell.addEventListener("mouseup",
          function (ev){
            THIS.mouseup(ev,i,j);
          }        
        );     

        row.appendChild(cell);
      }
      tbl.appendChild(row);
    }
    THIS.inner_div.appendChild(tbl);
    container.appendChild(THIS.inner_div);
   }
 };
 r.buildDom();
 return r;
}


let ceps_core_channel;
let matrixWidget = null;
let treeWidget = null;
let staccatoAPI = null;

matrixTestData = {
  
};

 window.onload = () => {
 
   function generateTestDataSkillDistribution(){

    let t = {
       type : "distribution",
       cell_width: 20,
       col_height: 300,
       //header_height: 30,

       cell_relative_height: function (row,col){
         return t.data[row][col];
       },
       axis : {
         horz : {
           label : null
         }
       },
       data: []
     };

     let rows = 6;
     for(let i = 0; i < rows; ++i){
      let v = [];
      for(let j = 0; j != 200; ++j){
        v.push(0.0);
      }
      t.data.push(v);
     }
     for(let i = 0; i < rows; ++i){
      for(let j = 0; j != 200; ++j){
        let s = 0.0;
        let val = 0.0;
        for (let h = 0; h < i;++h) s+= t.data[h][j];
        if (i + 1 == rows ) val = 1.0 - s;
        else val = (1-s)*Math.random(); 
        t.data[i][j] = val;
      }
     }
     console.log(t);
     return t;
   }

   function generateTestData(){
     let t = {
       cell_width: 30,
       cell_height: 20,
       axis : {
         horz : {
           label : null
         }
       },
       data: []
     };
     for(let i = 0; i != 10; ++i){
      let v = [];
      for(let j = 0; j != 200; ++j){
        v.push([
          {
              name:"APP #1",
              children: [
                {
                  name: "SUB APP #1",
                  allocations : [
                    {
                      name    : "SAP", 
                      units   : 1,
                      weight  : 0.3,
                    },
                    {
                      name   : "JAVA", 
                      units  : 1,
                      weight : 0.3,
                    }
                  ]
                },
                {name: "SUB APP #1"}   
              ] 
          },
          {
            name:"APP #2",
            children: [
            {name: "SUB APP #1",
              children: [
                {
                  name: "SUB SUB APP #1",
                  allocations : [
                    {
                      name    : "DevOps", 
                      units   : 1,
                      weight  : 0.2,
                    },
                    {
                      name   : "SAP HANA", 
                      units  : 1,
                      weight : 0.2,
                    }
                  ]
                  

                }
              ]
            }
          ] 
          },
          {
            name:"APP #3",
            children: [
          ] 
          }
        ]);
      }
      t.data.push(v);
     }
     return t;
   }

   staccatoAPI = data_channel = 
   RollAutStaccatoAPI(window.location.hostname+":3333",
     function (dbView,changed_items){
     if (changed_items == null){
      let container = document.getElementById("team_lanes");
      for(;container.hasChildNodes();)container.removeChild(container.firstChild);
      //matrixWidget = MatrixWidget(container,matrixTestData=generateTestData());
      matrixWidget = MatrixWidget(container,matrixTestData=generateTestDataSkillDistribution());
      matrixWidget.selection_changed = (from,to,data) => {
        //console.log(`${from[0]},${from[1]}:${to[0]},${to[1]}`);
        
        function compute_cumulation(){
          function merge(dest,source){
            for(let i = 0; i < source.length;++i){
              let found = -1;
              for(let j = 0; j < dest.length;++j){
                if (dest[j].name == source[i].name){found = j; break;}
              }
              let dest_bucket = null;
              if (found < 0) 
              { 
                dest_bucket = {name:source[i].name,children:[]};
                dest.push(dest_bucket);
              } else dest_bucket = dest[found];
              if (source[i].children != null) merge(dest_bucket.children,source[i].children);
              if(source[i].allocations != null){
                let dest_allocs = null;
                if (dest_bucket.allocations == null)
                  dest_bucket.allocations = [];
                dest_allocs = dest_bucket.allocations;
                for(let j=0;j < source[i].allocations.length;++j){
                  let found = -1;
                  for(let k=0;k < dest_allocs.length;++k){
                    if (dest_allocs[k].name == source[i].allocations[j].name ){
                      found = k;
                      break;
                    }
                  }
                  let dest_alloc = null;
                  if (found < 0){ dest_alloc = {name:source[i].allocations[j].name,vunits:[],vweights:[]};dest_allocs.push(dest_alloc); }
                  else dest_alloc = dest_allocs[found];
                  dest_alloc.vunits.push(source[i].allocations[j].units);
                  dest_alloc.vweights.push(source[i].allocations[j].weight);
                }
              }
            }
          }
          let d = [];
          for(let i = from[0]; i <= to[0]; ++i){
            for(let j = from[1]; j <= to[1];++j){
              merge(d,data.data[i][j]);              
            }
          }
          function sum(trees){
            for(let i = 0; i < trees.length;++i){
              let sub_tree = trees[i];
              if (sub_tree.allocations != null){
                for(let j = 0; j < sub_tree.allocations.length; ++j){
                  let alloc = sub_tree.allocations[j];
                  alloc.weight = 0.0;
                  for(let k = 0;k < alloc.vweights.length;++k){
                    alloc.weight += alloc.vweights[k]*alloc.vunits[k];
                  }
                  alloc.units = 1;
                }
              }
              if (sub_tree.children != null)
                sum(sub_tree.children);
            }
          }
          sum(d);
          //console.log(JSON.stringify(d));
          return d;
        }
        let cumulated_data = compute_cumulation();

        container = document.getElementById("product_projections");
        for(;container.hasChildNodes();) container.removeChild(container.firstChild);
        TreeWidget(container,cumulated_data);
      }

      /*container = document.getElementById("product_projections");
      for(;container.hasChildNodes();) container.removeChild(container.firstChild);
      treeWidget = TreeWidget(container,example_1);*/
     } else {
      //Update
      timeLineWidget.update(changed_items);      
    }
  }
  );
 data_channel.connect();
 data_channel.subscribe("rollouts/scheduled");

 data_channel.register_handler("open",
    (channel) =>{
      let connection_info = document.getElementById("nav_info_connection");
      if(connection_info == undefined) return;
      connection_info.setAttribute("class","badge badge-success");
      connection_info.innerHTML =
        `<span>Connected</span>`
      ;
    }
 );

 data_channel.register_handler("close",
    (channel,connection_status) =>{
      setTimeout(()=>{
        data_channel.connect();
        data_channel.subscribe("rollouts/scheduled",true);
      },1000);
      if (!connection_status) return;
      let connection_info = document.getElementById("nav_info_connection");
      if(connection_info == undefined) return;
      connection_info.setAttribute("class","badge badge-danger");
      connection_info.innerHTML =
        `<div style="float:left;margin:2px;" class="rollaut_connection_loader"></div><span style="vertical-align: sub;">Not Connected</span>`
      ;          
    }
  );
 }; 

</script>
</html>
