
.sm_details{
 xborder: 3px solid green;
 xheight : 100%;
}

.sm_graph{
    
}
li {
        width: 165px;
    float: left;
}
.sm_details_and_sm_graph{
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    xdisplay:flex;
    xdisplay: inline-block;
    xdisplay: table; 
    xmargin: auto;    
}

