<span class="bulb" signal="CFBP_DigIn096">SD_IMPULS1</span>
<span class="bulb" signal="CFBP_DigIn097">SD_IMPULS2</span>
<span class="bulb" signal="CFBP_DigIn098">SD_IMPULS_RICHTUNG</span>
<span class="bulb" signal="CFBP_DigIn099">SD_T_MEN&Uuml;</span>
<span class="bulb" signal="CFBP_DigIn100">SD_T_ESC</span>
<span class="bulb" signal="CFBP_DigIn101">SD_T_+</span>
<span class="bulb" signal="CFBP_DigIn102">SD_T_-</span>
<span class="bulb" signal="CFBP_DigIn103">SD_T_KNOPF</span>


<p></p>

<!--span class="left_right" 
      onleft="cepscloud.set_signal('CFBP_DigIn097',0);" 
      onright="cepscloud.set_signal('CFBP_DigIn097',1);"></span-->
<hr>

<div class ="btn-group-vertical" role="group">
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_szenario_Drehknopf_im_Uhrzeigersinn_drehen');">
      Szenario: Drehknopf im Uhrzeigersinn drehen.
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_szenario_Drehknopf_gegen_den_Uhrzeigersinn_drehen');">
      Szenario: Drehknopf gegen den Uhrzeigersinn drehen.
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_akt_menu');">
      Szenario: Aktivieren eines Men&uuml;punktes.
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_fkt_m_im_hm');">
      Szenario: Funktion der Taste "Men&uuml;" im Hauptmen&uuml;.
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_fkt_m_im_um_fkt');">
      Szenario: Funktion der Taste "Men&uuml;" in Untermen&uuml;s und Funktionen.
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_fkt_minus');">
      Szenario: Funktion der Taste "-".
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_fkt_plus');">
      Szenario: Funktion der Taste "+".
</button>
<button type="button" class="btn btn-default" onclick="cepscloud.trigger_event('trigger_sz_fkt_esc');">
      Szenario: Knopf "ESC" dr&uuml;cken w&auml;hrend Systemwerte durch den Bediener ge&auml;ndert werden.
</button>
</div>




