





<span class="bulb" signal="CFBP_DigIn096">SD_IMPULS1</span>
<span class="bulb" signal="CFBP_DigIn097">SD_IMPULS2</span>
<span class="bulb" signal="CFBP_DigIn098">SD_IMPULS_RICHTUNG</span>
<span class="bulb" signal="CFBP_DigIn099">SD_T_MEN&Uuml;</span>
<span class="bulb" signal="CFBP_DigIn100">SD_T_ESC</span>
<span class="bulb" signal="CFBP_DigIn101">SD_T_+</span>
<span class="bulb" signal="CFBP_DigIn102">SD_T_-</span>
<span class="bulb" signal="CFBP_DigIn103">SD_T_KNOPF</span>


<p></p>

<span class="left_right" 
      onleft="cepscloud.set_signal('CFBP_DigIn097',0);" 
      onright="cepscloud.set_signal('CFBP_DigIn097',1);"></span>



