<!DOCTYPE html>
<html lang=en>
<!-- 
    
    Cool effects

    https://blog.trackduck.com/2015/06/10/15-impressive-pop-animation-effects-codepen/
    
    
    -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="(c) ceps technologies, all rights reserved">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- link href="datatables/css/dataTables.material.min.css" rel="stylesheet" -->
    <!-- link href="datatables/css/jquery.dataTables.min.css" rel="stylesheet" -->
    <link href="datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" >
    <link href="datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <link href="cepscloud-ui/cepscloud-ui.css" rel="stylesheet">
    <link href="animate/animate.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange600 { color: #FB8C00; }
    </style>
    <title>MediaMarktSaturn - Rollouts</title>
</head>

<style>
 .ceps-ui-minimized:hover{
    
 }
 
 .ceps-ui-minimized-inactive{
    
    
 }
 .ceps-ui-minimized-active{
    
    
 }
 .ceps-ui-minimized-warning{
    
   
 }
 .ceps-ui-minimized-failure{
    
   
 }
 .ceps-ui-minimized-done{
    
    
 }


 @keyframes show-details-anim{
     from {transform:rotate(0deg)}
     to {transform:rotate(-180deg)}
 }


 @keyframes hide-details-anim{
     from {transform:rotate(-180deg)}
     to {transform:rotate(0deg)}
 }

.sm-details-info{
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid rgb(115, 173, 221);
}



</style>

<script>
    var global_observer_handlers = [];
    let SM_STATUS_INACTIVE = 0;
    let SM_STATUS_ACTIVE = 1;
    let SM_STATUS_WARNING = 2;
    let SM_STATUS_FAILURE = 3;
    let SM_STATUS_DONE = 4;
    

    function register_observer(name, fn) {
        for (let e of global_observer_handlers)
            if (e.name == name) { e.handler = fn; return; }
        if (fn == undefined) return;
        for (let e of global_observer_handlers)
            if (e.handler == undefined) { e.name = name; e.handler = fn; return; }

        global_observer_handlers.push({name:name, handler:fn});
    }

    function set_css_class_for_sm_viz(elem,status,minimized){
        if(minimized){
            $(elem).removeClass("ceps-ui-minimized-inactive")
                   .removeClass("ceps-ui-minimized-active")
                   .removeClass("ceps-ui-minimized-warning")
                   .removeClass("ceps-ui-minimized-failure")
                   .removeClass("ceps-ui-minimized-done");
            if (status == SM_STATUS_INACTIVE) $(elem).addClass("ceps-ui-minimized-inactive");
            else if (status == SM_STATUS_ACTIVE) $(elem).addClass("ceps-ui-minimized-active");
            else if (status == SM_STATUS_WARNING) $(elem).addClass("ceps-ui-minimized-warning");
            else if (status == SM_STATUS_FAILURE) $(elem).addClass("ceps-ui-minimized-failure");
            else if (status == SM_STATUS_DONE) $(elem).addClass("ceps-ui-minimized-done");
        }        
    }

    function unregister_observer(name) { register_observer(name, undefined); }

    function set_page_title(s) {
        $("#page_title").html(s);
    }

    function warn(s) {
        $.notify({/* options*/message: s
        },
            {/*settings*/ delay: 10000, type: 'warning', showProgressbar: false,
                animate: { enter: 'animated zoomInDown', exit: 'animated zoomOutUp' }
            }
        );        
    }

    function limit_to_n_characters(s, n) {
        if (s.length < n) return s;
        return s.substr(0, n) + "...";
    }
</script>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MediaMarktSaturn<sup>Rollouts</sup></a>
        <h3 style="color:white;vertical-align:center;"></h3>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!---li class="nav-item"><button id="btn_start" class="btn btn-outline-success">Start</button></li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;</li>
                
                <li class="nav-item"><button id="btn_stop" class="btn btn-outline-success">Stop</button></li-->
            </ul>
            
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-6 col-sm-12">
            <h2><span id="page_title"></span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-6 col-sm-8" >
                       
        </div>
        <div class="col-xs-2 col-sm-2"></div>        
    </div>

        <div class="row">
                <div class="col-xs-2 col-sm-2">
                    
                </div>
                <div class="col-xs-2 col-sm-8">                 
                    <div class="jumbotron">
                        <h1>404</h1>
                        <p></p>
                        <h3>Rollout <b>'<%=rollout.name%>'</b> not found.</h3> 
                      </div>
                </div>
            
               
                <div class="col-xs-2 col-sm-2">
                </div>

            </div>
    <script src="jquery/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery-ui/jquery-ui.min.js"></script>
    <script src="datatables/js/jquery.dataTables.min.js"></script>
    <script src="datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="datatables-responsive/dataTables.responsive.js"></script>
    <script src="chartjs/Chart.js"></script>
    <script src="bootstrap-notify/bootstrap-notify.js"></script>
    <script src="d3/d3.js"></script>
</body>

</html>
