<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="(c) Tomas Prerovsky (tomas.prerovsky@ceps.technology), ALL RIGHTS RESERVED">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="rollaut/rollaut_basic.css" rel="stylesheet">
     
<style>
    @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
        /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange600 { color: #FB8C00; }

  </style>
    <title>RollAut</title>
</head>

<body style="padding-top: 70px;">
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" style="color:white;" href="http://www.rollaut.org">
              <sup>Roll<sub><span class="text-primary" style="font-size:20px;">A</span></sub>ut</sup>
            </a>
            <h3 style="color:white;vertical-align:center;text-align:center;" id="rollout_details_heading"></h3>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            </ul>
            <span class="badge badge-danger" id="nav_info_connection">
             <div style="float:left;margin:2px;" class="rollaut_connection_loader"></div>
             <span style="vertical-align: sub;">Not Connected</span>
            </span>
        </div>
    </nav>
    <main role="main" class="container">
  </main>
    <div class="col-md-12 col-sm-12 col-xs-12" 
         style="xborder-left:solid 1px;
                xborder-right:solid 1px;
                width:100%;"

    >

          <div id="info_tiles" 
            xxstyle="display:block;overflow:hidden;position:absolute;background-color: black;">
         </div>
</div>

</body>

<script src="jquery/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="rollaut/tiles.js"></script>
<script src="rollaut/search_utils.js"></script>
<script src="rollaut/utils.js"></script>
<script src="rollaut/overview_dialog.js"></script>
<script src="rollaut/timeline_widget.js"></script>
<script src="rollaut/staccato.js"></script>

<script>

let ceps_core_channel;
let timeLineWidget = null;
let staccatoAPI = null;
let rollout_id = <%=rollout%>;
let rollout_data = undefined;


 window.onload = () => {

 staccatoAPI = data_channel = 
 RollAutStaccatoAPI(window.location.hostname+":3333",
  function (dbView,changed_items){
    if (changed_items == null){
      let entities_raw = dbView.getTopLevelEntities("rollout","false");
      let rollout_idx = undefined;
      for(let i = 0;i != entities_raw.length;++i){
        if (entities_raw[i].id != `${rollout_id}`) continue;
        rollout_idx = i;
        break;
      }
     
      if (rollout_idx == undefined){
        document.getElementById("rollout_details_heading").innerHTML = `<i class="material-icons md-48" style="color:red;vertical-align:top;">error</i> <span style=""> Invalid Rollout Id (${rollout_id}).</span><br/><a href="/">RollAut Home</a>`;        
        return;
      } else {
        rollout_data = entities_raw[rollout_idx];
        document.getElementById("rollout_details_heading").innerHTML = `${rollout_data.name}`;        
      }

      let container = document.getElementById("info_tiles");
      for(;container.hasChildNodes();)container.removeChild(container.firstChild);
      console.log(rollout_data);
    } else {
      //Update
    }
  }
  );
 data_channel.connect();
 data_channel.subscribe("rollouts/scheduled");

 data_channel.register_handler("open",
    (channel) =>{
      let connection_info = document.getElementById("nav_info_connection");
      if(connection_info == undefined) return;
      connection_info.setAttribute("class","badge badge-success");
      connection_info.innerHTML =
        `<span>Connected</span>`
      ;
    }
 );

 data_channel.register_handler("close",
    (channel,connection_status) =>{
      setTimeout(()=>{
        data_channel.connect();
        data_channel.subscribe("rollouts/scheduled",true);
      },1000);
      if (!connection_status) return;
      let connection_info = document.getElementById("nav_info_connection");
      if(connection_info == undefined) return;
      connection_info.setAttribute("class","badge badge-danger");
      connection_info.innerHTML =
        `<div style="float:left;margin:2px;" class="rollaut_connection_loader"></div><span style="vertical-align: sub;">Not Connected</span>`
      ;          
    }
  );
 }; 

</script>
</html>
