<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>pos_rollout_automated_002_auto_prepare_and_start_rollout_protocol</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>sapcode</name>
          <description></description>
          <defaultValue>123</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WAIT</name>
          <description></description>
          <defaultValue>0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ROLLOUTNAME</name>
          <description></description>
          <defaultValue>0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;$sapcode&quot;
t=$(awk -v min=0 -v max=60 &apos;BEGIN{srand(); print int(min+rand()*(max-min+1))}&apos;)
sleep &quot;$t&quot;

$HOME/projects/bin/set_job_result -h localhost -u rollout_user -p 1234 -j pos_rollout_automated_002_auto_prepare_and_start_rollout_protocol -s &quot;$sapcode&quot;



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>